# Remove the version line
networks:
    ashabridge:
        driver: bridge

services:
    nextjs:
        container_name: nextjs
        build: ./nextjs
        depends_on:
            - springboot
        networks:
            - ashabridge
        # environment:
        #     - NEXT_PUBLIC_BASED_URL=http://nextjs:3000
        #     - NEXT_PUBLIC_SPRINGBOOT_URL='http://springboot:8080'
        ports:
            - "3000:3000"

    springboot:
        container_name: springboot
        build: ./springboot
        depends_on:
            mysql:
                condition: service_healthy
            mongodb:
                condition: service_healthy

        networks:
            - ashabridge
        # environment:
        #     - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/asha?useSSL=false&useUnicode=true&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
        #     - SPRING_DATASOURCE_USERNAME=root
        #     - SPRING_DATASOURCE_PASSWORD=1234
        #     - SPRING_DATA_MONGODB_URI=mongodb://root:1234@mongodb:27017/asha?authSource=admin&authMechanism=SCRAM-SHA-256
        ports:
            - "8080:8080" # 포트 매핑 (기본 Spring Boot 포트 8080)

    mysql:
        container_name: mysql
        image: mysql:8
        restart: always
        networks:
            - ashabridge
        ports:
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: 1234
            MYSQL_DATABASE: asha
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "--host", "localhost"]
            interval: 30s
            retries: 3
            start_period: 10s
            timeout: 5s

    mongodb:
        container_name: mongodb
        image: mongo:6
        restart: always
        networks:
            - ashabridge
        ports:
            - "27017:27017"
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: 1234
        healthcheck:
            test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
            interval: 30s
            retries: 3
            start_period: 10s
            timeout: 5s

volumes:
    mysql_data:
    mongodb_data:
